<div class="mx-4">
  <br>
  <div class="questions_list">
    {{#each questions}}
      <b>{{add @index 1}}. {{this.question}}</b>
      <ol type="A" class="my-2">
        {{#each options}}
          <li>
            <div class="row">
              <div class="col-3">{{option}}</div>
              <div class="col-1">{{percentage}}%</div>
            </div>
          </li>
        {{/each}}
      </ol>
      <div class="keywords-list">
        <span><b>Keywords:</b></span>
        {{#each keywords}}
          <span class="text-{{keywordColor this}} border border-{{keywordColor this}} rounded px-2 py-1 mr-1">{{this}}</span>
        {{/each}}
    </div>
      <br>
    {{/each}}
  </div>
</div>
