<div class="mx-4">
  <hr class="bg-dark">
  <div class="questions_list">
    {{#each questions}}
    {{add @index 1}}. {{this.question}}
      <ol>
        {{#each options}}
          <li>{{option}}, {{percentage}}</li>
        {{/each}}
      </ol>
      <ul class="list-inline">
        {{#each keywords}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <br>
    {{/each}}
  </div>
</div>
