<div class="mx-5 my-4">
  <div class="mx-3">

    <h1 class="display-4 mb-4">User Profile</h1>

    <div class="row my-1">
      <div class="col-1"><b>Status</b></div>
      <div class="col-2">
        {{#if user.approved}}
        <span class="text-success">Approved</span>
        {{else}}
        <span class="text-danger">Pending</span>
        {{/if}}
      </div>
    </div>

    <div class="row my-1">
      <div class="col-1"><b>Role</b></div>
      <div class="col-2">{{user.user_group}}</div>
    </div>

    <div class="row my-1">
      <div class="col-1"><b>Name</b></div>
      <div class="col-2">{{user.first_name}} {{user.last_name}}</div>
    </div>

    <div class="row my-1">
      <div class="col-1"><b>Email</b></div>
      <div class="col-2">{{user.email}}</div>
    </div>

</div>
