<div class="mb-2">
  <div class="row m-2 d-flex justify-content-between">
    <div class="col-6">
      {{#each options}}
        <div class="row my-2">
          <div class="col-10">
            <input class="form-control option" type="text" value="{{option}}" readonly />
          </div>
          <div class="col-2">
            <input class="form-control percentage" type="number" value="{{percentage}}" readonly />
          </div>
        </div>
      {{/each}}

    </div>
    <div class="col-5">
      <div class="categorization m-2 pl-3">
        <div class="group m-2">
          <span><b>Group:</b></span> {{group}}
        </div>
        <div class="theme m-2">
          <span><b>Theme:</b></span> {{theme}}
        </div>
        <div class="keywords-list m-2">
          <span><b>Keywords:</b></span>
          {{#each keywords}}
            <span class="text-{{keywordColor this}} border border-{{keywordColor this}} rounded px-2 py-1 mr-1">{{this}}</span>
          {{/each}}
        </div>
      </div>
    </div>
    </li>

  </div>
</div>
