<!-- Contains Navigation (pages) and Table -->
{{#if isSearch}}
  <div class="search_results_nav_template" hidden> <!-- we are using this hidden div to render html -->
    {{> database/paginationNavTemplate active=active pages=pages numberOfRecords=numberOfRecords isSearch=true}}
  </div>
{{/if}}

<div class="{{#if isSearch}}search_{{/if}}questions_list accordion mx-3" id="{{#if isSearch}}search_{{/if}}question_list">
  {{#each questions}}
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="panel-heading" data-toggle="collapse" data-target="#question_collapse{{@index}}" aria-expanded="false" aria-controls="question_collapse{{@index}}">
          <div class="row">
            <div class="col-9">
              {{question}}
            </div>
            <div class="col-2">
              <h6>{{poll_name}}</h6>
            </div>
            <div class="col-1">
              <ion-icon class="float-right icon-arrow-down" name="chevron-down-outline"></ion-icon>
              <ion-icon class="float-right icon-arrow-up" name="chevron-up-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>

      <div id="question_collapse{{@index}}" class="collapse" aria-labelledby="question_heading{{@index}}" data-parent="#{{#if isSearch}}search_{{/if}}question_list">
        <div class="card-body form-container">
          <form class="edit" id={{id}}>

            <div class="mx-4 my-4 links">
              <a class="active mr-2" onclick="showQuestion(this)">Question</a> |
              <a class="ml-2" href="#" onclick="showSurvey(this)" data-value={{survey_id}}>Survey</a>
            </div>

            <div class="question_details">
            {{> database/questionDetailsTemplate question=this groups=groups themes=themes keywords=keywords }}
            </div>

            <div class="survey_details hide">
            </div>

          </form>
        </div>
      </div>
    </div>
  {{/each}}

</div>
