<div class="card bg-light mb-3" id="question_info">
  <h5 class="card-header text-white bg-purple">Question Info</h5>
  <div class="card-body">

    {{#each questionInfoModel.formItems }}
      <div class="form-group">
        <label for={{ name }} class="font-weight-bold">
          {{ title }}
        </label>
        <div>

          {{#ifEquals type "dropdown"}}
            <div>
              <select class="form-control-sm" name={{name}} id={{name}} required>
                <option value="">Select</option>

                {{#each options}}
                  <option value={{ this }}>{{ this }}</option>
                {{/each}}

              </select>
            </div>
          {{/ifEquals}}

          {{#ifEquals type "text"}}
            <div class="input-group-sm">
              <input class="form-control col-md-3" type="text" id={{name}} placeholder={{placeholder}}>
            </div>
          {{/ifEquals}}

          {{#ifEquals type "checkbox"}}
            {{#each options}}
              <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value={{this}} id={{name}}>
                <label class="form-check-label" for={{this}}>
                  {{this}}
                </label>
              </div>
            {{/each}}

          {{/ifEquals}}

        </div>
      </div>
    {{/each}}

  </div>
</div>
