<div class="hide" id="question_info">
  <h1 class="font-weight-light mb-3"><span class="bg-dark rounded px-2 py-0.5 text-white">2</span> Question Info</h1>

    {{#each questionInfoModel.formItems }}
      <div class="form-group {{#if @first}}{{else}}hide{{/if}} {{#if @last}}last-questionInfo{{/if}}" id="questionInfo_{{@index}}">
        <label for={{ name }} class="font-weight-bold">
          {{ title }}
        </label>

        {{#ifEquals type "text"}}
        <div>
          <input class="form-control col-8" type="text" name={{name}} id={{name}} placeholder={{placeholder}} onInput="textChanged(this)" required>
          <small id="description" class="form-text text-muted">{{description}}</small>
        </div>
        {{/ifEquals}}

        {{#ifEquals type "dropdown"}}
          <div>
            <select class="form-control-sm" name={{name}} id={{name}} onchange="dropdownChanged(this)" required>
              <option value="">Select</option>

              {{#each options}}
                <option value={{this}}>{{this}}</option>
              {{/each}}

            </select>
          </div>
        {{/ifEquals}}

        {{#ifEquals type "checkbox"}}
          {{#each options}}
            <div class="form-check mb-1">
              <input class="form-check-input" type="checkbox" value={{this}} onclick="checkboxClicked(this)" id={{name}}>
              <label class="form-check-label" for={{this}}>
                {{this}}
              </label>
            </div>
          {{/each}}
        {{/ifEquals}}

      </div>
    {{/each}}

</div>
