<form class="edit_survey" id="{{survey.id}}">

  <div class="row mx-2 my-4">
    <div class="col">
      {{#each surveyModel.formItems }}

        {{#ifEquals type "column_break"}}
    </div>
    <div class="col">
      {{else}}
        <div class="form-group" id="surveyItem{{@index}}">

          {{#ifEquals type "paragraph_break"}}
            <div class style="height:55px">
            </div>
            {{else}}
              <label for={{ name }} class="font-weight-bold">
                {{#ifEquals special_font true}}
                  <span class="text-primary">{{title}}</span>
                  {{else}}
                    {{title}}
                {{/ifEquals}}
              </label>
          {{/ifEquals}}

          {{#ifEquals type "text"}}
            <div>
              <input class="form-control col-10" type="text" name={{name}} id={{name}} value="{{lookup ../survey name}}" placeholder="{{placeholder}}" {{#if required}} required {{/if}} readonly
                {{#ifEquals disabled true}}disabled {{/ifEquals}}>
              <small id="description" class="form-text text-muted">{{description}}</small>
            </div>
          {{/ifEquals}}

          {{#ifEquals type "number"}}
            <div>
              <input class="form-control col-10" type="number" name={{name}} id={{name}} value="{{lookup ../survey name}}" placeholder="{{placeholder}}" {{#if required}} required {{/if}} readonly
                {{#ifEquals disabled true}}disabled {{/ifEquals}}>
              <small id="description" class="form-text text-muted">{{description}}</small>
            </div>
          {{/ifEquals}}

          {{#ifEquals type "date"}}
            <div>
              <input class="form-control col-10" type="date" name={{name}} id={{name}} value="{{formatDate (lookup ../survey name)}}" {{#if required}} required {{/if}} readonly {{#ifEquals disabled true}}disabled {{/ifEquals}}>
              <small id="description" class="form-text text-muted">{{description}}</small>
            </div>
          {{/ifEquals}}

          {{#ifEquals type "dropdown"}}
            <div>
              <select class="form-control-sm" name={{name}} id={{name}} {{#if required}} required {{/if}}>

                <option value="{{lookup ../survey name}}" selected>{{lookup ../survey name}}</option>

                {{#each options}}
                  {{#ifEquals this (lookup ../../survey ../name)}}
                  {{else}}
                  <option value="{{this}}" disabled>{{this}}</option>
                  {{/ifEquals}}
                {{/each}}

              </select>
            </div>
          {{/ifEquals}}

          {{#ifEquals type "checkbox"}}
            {{#each options}}
              <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox" value={{this}} id={{name}} {{#if required}} required {{/if}}>
                <label class="form-check-label" for={{this}}>
                  {{this}}
                </label>
              </div>
            {{/each}}
          {{/ifEquals}}

        </div>
        {{/ifEquals}}
        {{/each}}

    </div>

    <div class="col-1">
      <button type="button" class="btn float-right btn-primary editButton btn-block" onClick="editSurvey(this)">Edit</button>
      <button type="button" class="btn float-right btn-danger deleteButton btn-block" data-toggle="modal" data-target="#deleteModal{{survey.id}}">Delete</button>
      <button type="submit" class="btn float-right btn-primary saveButton btn-block hide">Save</button>
      <button type="button" class="btn float-right btn-outline-primary cancelButton btn-block hide" onClick="cancelEditSurvey(this)">Cancel</button>
      {{> survey/deleteModal title=survey.poll_name id=survey.id}}
    </div>
  </div>
</form>
